<style media="screen">
    .meraki-font-s1 {
        font-family: 'Yellowtail', cursive;
    }

    .meraki-font-s2 {
        font-family: 'Poiret One', cursive;
    }
.borde{
  border-radius: 15px;
  border: 2px solid white;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
    .meraki-font-s3 {
        font-family: 'Playfair Display SC', cursive;
    }

    .meraki-font-s4 {
        font-family: 'Great Vibes', cursive;
    }

    .meraki-font-s5 {
        font-family: 'Cabin Sketch', cursive;
    }

    #pre-0-0 {
        position: absolute;
        -webkit-animation: presentation-0-0 4s forwards;
        /*Safari 4.0-8.0*/
        animation: presentation-0-0 4s forwards;
    }

    @-webkit-keyframes presentation-0-0 {
        0% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
        25% {
            left: 50vw;
            top: 50vh;
        }
        50% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
        100% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
    }

    @keyframes presentation-0-0 {
        0% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
        25% {
            left: 50vw;
            top: 50vh;
        }
        50% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
        100% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
    }

    #pre-1-0 {

        position: absolute;
        -webkit-animation: presentation-1-0 4s forwards;
        /*Safari 4.0-8.0*/
        animation: presentation-1-0 4s forwards;
    }

    @-webkit-keyframes presentation-1-0 {
        0% {
            left: 50vw;
            top: 50vh;
        }
        25% {
            left: 0px;
            top: 278px;
        }
        50% {
            left: 0px;
            top: 0px;
        }
        100% {
            left: 300px;
            top: 0px;
        }
    }

    @keyframes presentation-1-0 {
        0% {
            left: 50vw;
            top: 50vh;
        }
        25% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
        50% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        100% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
    }

    #pre-0-1 {

        position: absolute;
        -webkit-animation: presentation-0-1 4s forwards;
        /*Safari 4.0-8.0*/
        animation: presentation-0-1 4s forwards;
    }

    @-webkit-keyframes presentation-0-1 {
        0% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        25% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
        50% {
            left: 50vw;
            top: 50vh;
        }
        100% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
    }

    @keyframes presentation-0-1 {
        0% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        25% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
        50% {
            left: 50vw;
            top: 50vh;
        }
        100% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
    }

    #pre-1-1 {

        position: absolute;
        -webkit-animation-name: presentation-1-1;
        /*Safari 4.0-8.0*/
        animation: presentation-1-1 4s forwards;
    }

    @-webkit-keyframes presentation-1-1 {
        0% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
        25% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        50% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
        100% {
            left: 50vw;
            top: 50vh;
        }
    }

    @keyframes presentation-1-1 {
        0% {
            left: calc(50vw - 300px);
            top: 50vh;
        }
        25% {
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        50% {
            left: 50vw;
            top: calc(50vh - 278px);
        }
        100% {
            left: 50vw;
            top: 50vh;
        }
    }

    #pre-container {
        position: absolute;
        -webkit-animation: logo 0.1s 4s forwards;
        animation: logo 0.1s 4s forwards;
    }

    @-webkit-keyframes logo {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes logo {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }

    #logo-container {
        position: absolute;
        -webkit-animation: logo-container 1s 4s forwards;
        animation: logo-container 3s 4s forwards;
        transition: 2s ease-in-out;
    }

    @-webkit-keyframes logo-container {
        0% {
            opacity: 0;
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        50% {
            opacity: 1;
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        100% {
            opacity: 1;
            transform: scale(0.2);
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
    }

    @keyframes logo-container {
        0% {
            opacity: 0;
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        50% {
            opacity: 1;
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
        }
        75% {
            opacity: 1;
            left: calc(50vw - 300px);
            top: calc(50vh - 278px);
            border-radius: 50px;
        }
        100% {
            opacity: 1;
            transform: scale(0.3);
            left: calc(50vw - 480px);
            top: calc(50vh - 278px);
            border-radius: 50px;
        }
    }

    #text-logo-container {
        width: 360px;
        height: 166px;
        position: absolute;
        left: calc(50vw - 90px);
        top: calc(50vh - 85px);

        -webkit-animation: text-logo 2s 7s forwards;
        animation: text-logo 2s 7s forwards;
    }

    @-webkit-keyframes text-logo {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }

    @keyframes text-logo {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            border-right: 1px solid black;
            border-radius: 50px;
        }
    }

    #text-logo-meraki {

        font-family: 'Poiret One', cursive;
        font-size: 90px;
        position: absolute;
        left: 40px;
        top: -100px;
    }

    #text-logo-solutions {

        font-family: 'Poiret One', cursive;
        font-size: 45px;
        position: absolute;
        left: 90px;
        top: 45px;
    }

    #meraki-intro-container {
        position: absolute;
        margin: 0px;
        padding: 0px;
        -webkit-animation: intro-container 2s 10s forwards;
        animation: intro-container 2s 10s forwards;
    }

    @-webkit-keyframes intro-container {
        0% {
            left: 0px;
            top: 0px
        }
        100% {
            left: 0px;
            top: 0px
        }
    }

    @keyframes intro-container {
        0% {
            left: 0px;
            top: 0px;
        }
        100% {
            left: 0vw;
            top: -0vh;
            transform: scale(0.7);
        }
    }

    #btn-start {
        position: absolute;
        width: 500px;
        left: calc(50vw - 250px);
        top: calc(50vh + 150px);
    }

    #meraki-navbar {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
        transition: 1s;
    }

    /*#mainview {

        min-height: 100%;
        min-width: 1024px;


        width: 100%;
        height: 100vh;


        position: absolute;
        ;
        top: 0;
        left: 0;
    }*/

    .parallax {
        background-image: ;

        min-height: 100vh;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media only screen and (max-device-width: 1024px) {
        .parallax {
        background-attachment: scroll;
        }
    }

    .parallax-uiux{
        background-image: url("../images/bg-uiux-2.jpg");

        min-height: 50vh;

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media only screen and (max-device-width: 1024px) {
        .parallax-uiux{
        background-attachment: scroll;
        }
    }

    /*@media screen and (max-width: 1024px) {
        .mainview-uiux {
            left: 50%;
            margin-left: -512px;

        }
    }*/

    @media screen and (max-width: 1024px) {
        .mainview {
            left: 50%;
            margin-left: -512px;
            /* 50% */
        }
    }


    .meraki-font {

        font-family: 'Poiret One', cursive;
    }

    #meraki-text-logo {
        position: absolute;
        left: 120px;
        top: 25px;
    }

    .meraki-nav-btn:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    a {
        text-decoration: none;
        transition: 0.8s;
    }

    #meraki-message-large {
        position: absolute;
        left: 50px;
        top: 45vh;
        width: 50vw;
        height: 30vh;
    }

    #meraki-message-small {
        position: absolute;
        left: 50px;
        top: 70vh;
        width: 50vw;
        height: 30vh;
    }

    #meraki-top-btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 20px;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

</style>
