body {

	margin: 0rem;
	min-height: 100vh;
	font-family: Futura, sans-serif;
}
#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#text {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
	color: #b29600;
  text-transform: uppercase;
	font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}
#text h1 {
	opacity: 0.9
}
